<!DOCTYPE html>
<html>

<head>
    <!-- favicon -->
    <link rel="shortcut icon" href="Images/favicon.webp" type="image/x-icon">
    <!-- css attached -->
    <link rel="stylesheet" href="../css/fonts.css" type="text/css">
    <link rel="stylesheet" href="../css/style.css" type="text/css">
    <link rel="stylesheet" href="../css/max-media.css" type="text/css">
    <link rel="stylesheet" href="../css/all.min.css" type="text/css">
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- title -->
    <title>Movies 4U</title>
</head>

<body>
    <header>
        <div class="container">
            <div class="row items-center">
                <div class="col-2">
                    <div class="logo">
                        <a href="index.html">Movie Chill</a>
                    </div>
                </div>
                <div class="col-8">
                    <nav>
                        <ul class="justify-center">
                            <li>
                                <a href="#">Welcome</a>
                            </li>
                            <li>
                                <a href="#">Movies</a>
                            </li>
                            <li>
                                <a href="#">Live Tv</a>
                            </li>
                            <li>
                                <a href="#">My Favorite</a>
                            </li>
                            <li>
                                <a href="#">About</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-2 profile ">
                    <a href="#"><i class="fa-solid fa-magnifying-glass fa-lg"></i></a>
                    <div class="profile-img">
                        <a href="#">
                            <img src="../Images/header/Ellipse 1.png" alt="profile">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <form action="/updateMovie/<%= movie._id %>" method="post" class="max-w-md mx-auto"
            enctype="multipart/form-data">
            <div class="relative z-0 w-full mb-5 group">
                <input type="text" name="moviename" id="floating_email"
                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                    placeholder=" " value="<%= movie.moviename %>" />
                <label for="moviename"
                    class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Movie
                    Name</label>
            </div>
            <div class="relative z-0 w-full mb-5 group">
                <input type="text" name="description" id="floating_password"
                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                    placeholder=" " value="<%= movie.description %>" />
                <label for="description"
                    class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Description</label>
            </div>
            <div class="relative z-0 w-full mb-5 group">
                <select name="languages"
                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                    id="">
                    <option value="Languages" selected>Languages</option>
                    <option value="English" <%=movie.languages==='English' ? 'selected' : '' %>>English</option>
                    <option value="Hindi" <%=movie.languages==='Hindi' ? 'selected' : '' %>>Hindi</option>
                    <option value="Gujarati" <%=movie.languages==='Gujarti' ? 'selected' : '' %>>Gujarti</option>
                    <option value="Urdu" <%=movie.languages==='Marathi' ? 'selected' : '' %>>Marathi</option>
                </select>
            </div>
            <div class="relative z-0 w-full mb-5 group">
                <div class="relative z-0 w-full mb-5 group">
                    <input type="number" name="rating" id="floating_first_name"
                        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                        placeholder=" " value="<%= movie.rating %>" />
                    <label for="rating"
                        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Rating</label>
                </div>
            </div>
            <div class="relative z-0 w-full mb-5 group">
                <select name="quality" id=""
                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer">
                    <option value="Quality" selected>Quality</option>
                    <option value="1080p" <%=movie.quality==='1080p' ? 'selected' : '' %>>1080p</option>
                    <option value="720p" <%=movie.quality==='720p' ? 'selected' : '' %>>720p</option>
                    <option value="480p" <%=movie.quality==='480p' ? 'selected' : '' %>>480p</option>
                </select>
            </div>
            <div class="relative z-0 w-full mb-5 group"></div>
            <div class="relative z-0 w-full mb-5 group">
                <input type="file" name="fileUp" id="floating_first_name"
                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                    placeholder=" " value="<%= movie.fileUp %>" />
                <label for="fileUp"
                    class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Movie
                    Poster</label>
            </div>
            </div>
            <button type="submit"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
        </form>

    </main>
</body>

</html>